@media only screen and (max-width: 630px) {
  .site-wrap {
    height: auto;
  }
  .title {
    margin: 2rem 0;
  }
  .Box-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .column {
    margin: 1rem 0.4rem;
  }
  .last-box {
    width: 50%;
    grid-column: 1/3;
    justify-self: center;
  }
  .button {
    width: 60%;
  }
}

@media only screen and (max-width: 330px) {
  .site-wrap {
    height: auto;
    min-width: 180px;
    text-align: left;
  }
  .title {
    margin: 3rem 1rem 0 1rem;
    font-size: 1.6rem;
  }
  .Box-container {
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr;
  }
  .column {
    width: 80%;
    margin: 1rem auto;
  }
  .last-box {
    width: 80%;
    grid-column: 1/1;
  }
  .button {
    width: 50%;
    height: 25px;
    margin: 0;
  }
}
